<div id="modal-holder"></div>
<div class="service">
  <p class="service-title">
    <h2><%= @garage.garage_name %></h2>
      <% if @garage.diler %>
        |Diler
      <% end %>
  </p>
  <div class="work-shedule">
    <%= image_tag("/images/clock.jpg", size: "100x100") %></br>
    Mon-Fri:<%= @garage.work_shedule[0] %></br>
    Sat:<%= @garage.work_shedule[1] %></br>
    Sun:<%= @garage.work_shedule[2] %></br>
</div>
  <%= image_tag(@garage.image, size: "200x250", class: "image-style") %>
    <p><%= link_to 'Go back', services_path, class: 'btn show_block-button'%>
      <%= link_to 'Registration to the service station', garage_orders_path(@garage.id),
          class: 'btn btn-primary show_block-button' %></p>

    <div class = "service-attributes">
      <p>Information about service:</p>
      <p>Rating:</br>
      <%= @garage.garage_rating %>
      </p>
        City <%= @garage.city %>
      </p>
      <p>
        Address <%= @garage.address %>
      </p>
      <p>Phone:
        <%= @garage.phone %>
      </p>
      <p>Manager:
      <%= @director.name %>
      <%= @director.surname %>
      </p>

      <p>Type of service:</br>
        <% @garage.garage_types.each do |type| %>
          <%= type %>
        <% end %>
      </p>
      <p>
        About service:</br>
        <%= @garage.description %>
      </p>
    </div>



  <div>
    <h3>Car destroys</h3>
    <% @cars.each do |brand, cars| %>
      <%= brand %></br>
      <% models = Array.new %>
      <% cars.each do |key| %>
        <%= key["break_sub_category_name"]%>
      <% end %>
    <% end %>
  </div>



  <% @comment.each do |comment| %>
    <div class="comment" style="width: 18rem;">
      <div class="card-body">
        <h6 class="comment-card-title">

          <%= comment.name %>
          <%= comment.surname %> say:
        </h6>
        <p class="card-text">
        <%= comment.comment %>
        </p>
        <p><%= comment.created_at.strftime("%Y/%m/%d") %></p>
      </div>
    </div>
  <% end %>
  <div class="comment-garage">
    <%= simple_form_for ([@garage, @garage.garage_comments.build]) do |f| %>
      <%= f.input :comment, as: :text %>
      <%= f.button :submit do %>
        <i class="icon-save"></i>
        Add new comment
      <% end %>
    <% end %>
  </div>
</div>
