<div class="block">
  <% @garage_types.each do |type| %>
  <div class="preview_services" style="width: 18rem;">
    <%= image_tag("/images/car-logo.png", size: "10x190", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">
          <%= t type %>
      </h5>
      <p class="card-text">Avaliable:
        <% if type.include?('service') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["service"]).count %>
          <%= link_to "Select", services_path, class: "btn btn-primary float-right" %>
        <% elsif type.include?('car_wash') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["car_wash"]).count %>
          <%= link_to "Select", car_washes_path, class: "btn btn-primary float-right" %>
        <% elsif type.include?('vulcanization') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["vulcanization"]).count %>
          <%= link_to "Select", tire_stations_path, class: "btn btn-primary float-right" %>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
</div>
<div id="slider">
  <img class="mySlides" src="/images/slider/image1.jpg" width="1100" height="300">
  <img class="mySlides" src="/images/slider/image2.jpg" width="1100" height="300">
  <img class="mySlides" src="/images/slider/image3.jpg" width="1100" height="300">
  <img class="mySlides" src="/images/slider/image4.jpg" width="1100" height="300">
  <script>
  var slideIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1}
      x[slideIndex-1].style.display = "block";
      setTimeout(carousel, 3000); // Change image every 2 seconds
  }
  </script>
</div>
