<div class="block">
  <% @garage_types.each do |type| %>
  <div class="preview_service" style="width: 18rem;">
    <%= image_tag("/images/car-logo.png", size: "10x190", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">

          <%= t type %>

      </h5>
      <p class="card-text">Доступно:
        <% if type.include?('service') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["service"]).count %>
        <% elsif type.include?('car_wash') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["car_wash"]).count %>
        <% elsif type.include?('vulcanization') %>
          <%= Garage.where("garage_types @> ARRAY[?]::varchar[]", ["vulcanization"]).count %>
        <% end %>
      <a href="#" class="btn btn-primary float-right">Select</a>
      </p>
    </div>
  </div>
  <% end %>
</div>
