<div class="admin_form center-block col-md-5">
  <%= simple_form_for :garage, url: admin_garage_path(@garage), method: :put do |f| %>
  <p>Інформація про СТО</p>
    <p>
    <%= f.input :garage_name, label: 'Назва СТО' %></p>
    <p>Власник
      <%= f.select("user_id", User.all.collect{|p| [ p.surname,  p.id] }) %>
    </p>
    <p>
      <%= f.input :city, label: "Місто" %></p>
    <p>
  <%= f.input :address, label: "Адреса" %></p>
  <p>
    <%= f.input :phone, label: "Номер телефону" %></p>
  <p>Тип сервісу:</br>
    <div class="serviceTypes">
      <%= f.label "Майстерня" %>
      <%= f.input :garage_types, collection: Garage::GARAGE_TYPE, as: :check_boxes %>
    </div>
</p>
<p>Графік роботи</br>
  Пн-Пт
  <%= f.input_field :work_shedule, multiple: true %>
  Сб
  <%= f.input_field :work_shedule, multiple: true %>
  Нд
  <%= f.input_field :work_shedule, multiple: true %>
</p>
  <p>
    <%= f.input :diler, as: :boolean, label: "Диллерська компанія:"%>
  <p></p>
    <%= f.input :description, label: "Інформація про автосервіс:", as: :text %></p>
  <p>Додати логотип<br>
    <%= f.file_field :image_url %></p>
  <%= f.input :remote_image_url, label: "Вставте сюди посилання на картинку" %>
  <small>Enter URL to an image</small>
    <% if @garage.image? %>
    <%= image_tag @garage.image.thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= f.check_box :remove_image %>
      <% end %>
    </div>
<% end %>
    <p><%= f.submit 'Редагувати СТО' %></p>
  <% end %>
</div>
