<div class="admin_form center-block col-md-5">
  <%= simple_form_for :garage, url: admin_garage_path(@garage), method: :put do |f| %>
  <h2>Service station information</h2>
    <p>
    <%= f.input :garage_name, label: 'Service station name' %></p>
    <p>Owner
      <%= f.select("user_id", @user.collect{|p| [ p.surname,  p.id] }) %>
    </p>
    <p>
      <%= f.input :city, label: "City" %></p>
    <p>
  <%= f.input :address, label: "Address" %></p>
  <p>
    <%= f.input :phone, label: "Phone number" %></p>
  <p>
    <%= f.input :garage_email, label: "Email" %></p>
  <p>Service type:</br>
    <div class="serviceTypes">
      <%= f.input :garage_types, collection: Garage.garage_type.options, as: :check_boxes, label: "" %>
    </div>
</p>
<p>Work shedule (Workdays, Saturday, Sunday)</br>
  <% @garage.work_shedule.each do |shedule| %>
    <%= f.input_field :work_shedule, multiple: true, :value => shedule %></br>
  <% end %>
</p>
  <p>
    <%= f.input :diler, as: :boolean, label: "Diller:"%>
  <p></p>
    <%= f.input :description, label: "Service station information:", as: :text %></p>
  <p>Add logo<br>
    <%= f.file_field :image_url %></p>
  <%= f.input :remote_image_url, label: "Put here image link" %>
  <small>Enter URL to an image</small>
    <% if @garage.image? %>
    <%= image_tag @garage.image.thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= f.check_box :remove_image %>
      <% end %>
    </div>
<% end %>
    <p><%= f.submit 'Update service station' %></p>
  <% end %>
</div>
