<div id="car_nav_bar">
  <ul>
    <li><%= link_to "Add new service station",  new_admin_garage_path %></li>
  </ul>
</div>
<input type="text" id="searsh_input" onkeyup="SearchFunction()" placeholder="Search for names..">
<table id="garages_table">
  <tr>
    <th>Image</th>
    <th onclick="sort_garages_table(1)">Name</th>
    <th onclick="sort_garages_table(2)">Director</th>
    <th onclick="sort_garages_table(3)">City</th>
    <th onclick="sort_garages_table(4)">Address</th>
    <!-- <th onclick="sort_garages_table(5)">Description</th> -->
    <th onclick="sort_garages_table(6)">Phone</th>
    <th onclick="sort_garages_table(7)">Email</th>
    <th onclick="sort_garages_table(8)">Diller</th>
    <th onclick="sort_garages_table(9)">Garage rating</th>
    <th onclick="sort_garages_table(10)">Garage types</th>
    <th onclick="sort_garages_table(11)">Work shedule</th>
    <th>Destroys</th>
    <th>Edit  / Delete</th>
  </tr>
  <% @garages.each do |garage| %>
  <tr>
    <td><%= image_tag(garage.image, :alt => "logo", size: "80x50")  if garage.image? %></td>
    <td><%= garage.garage_name %></td>
    <td><%= garage.name %> <%= garage.surname %></td>
    <td><%= garage.city %></td>
    <td><%= garage.address %></td>
    <!-- <td class="td_description"><%= garage.description %></td> -->
    <td><%= garage.phone %></td>
    <td><%= garage.garage_email %></td>
    <td>
      <%= if garage.diler == true
        "Diller"
      else
        ""
      end %>
    </td>
    <td><%= garage.garage_rating %></td>
    <td>
      <% garage.garage_types.each do |garage_type| %>
        <%= garage_type %>
      <% end %>
    </td>
    <td>
      <span id="days">Work days:</span> <%= garage.work_shedule[0] %>
      <span id="days">Saturday:</span> <%= garage.work_shedule[1] %>
      <span id="days">Sunday:</span> <%= garage.work_shedule[2] %></br>
    </td>
    <td>
      <%= link_to "Add destroys", new_admin_garage_garage_break_category_path(garage) %>
      <!-- <a href="/admin/garages/5/garage_break_category/new">Add destroys</a> -->
    </td>
    <td><%= link_to "Edit", edit_admin_garage_path(garage) %>
      |<%= link_to "Delete", admin_garage_path(garage) ,method: :delete, data: {confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>
