<div class="admin_form">
  <%= simple_form_for :garage, url: admin_garages_path, html: { multipart: true } do |f| %>
    <p>Інформація про СТО</p>
      <p>Назва СТО
      <%= f.input :garage_name %></p>
      <p>Власник
        <%= f.select("user_id", User.all.collect{|p| [ p.surname,  p.id] }) %>
      </p>
      <p>Місто
        <%= f.input :city %></p>
      <p>Адреса
    <%= f.input :address %></p>
    <p>Номер телефону
      <%= f.input :phone %></p>
    <p>Тип сервісу:</br>
      <div class="serviceTypes">
        <%= f.label "Майстерня" %>
        <%= f.input :garage_types, collection: [:service, :vulcanization, :car_wash], as: :check_boxes %>
      </div>
  </p>
  <p>Графік роботи</br>
    Пн-Пт
    <%= f.input :work_shedule ,:collection => @locations,:label_method => :location_name,:value_method => :id %>
    Сб
    <%= f.input :saturday %></br>
    Нд
    <%= f.input :sunday %>
  </p>
    <p>Диллерська компанія:
        <%= f.input :diler, as: :boolean, checked_value: true, unchecked_value: false %>
    <p>Додати логотип<br>
    <%= f.file_field :image_url %></p>
    <%= f.input :remote_image_url %>
    <small>Enter URL to an image</small>
    <p><%= f.submit 'Додати СТО' %></p>
  <% end %>
</div>
