<div class="admin_form center-block col-md-5">
  <%= simple_form_for :garage, url: admin_garages_path, html: { multipart: true } do |f| %>
    <p>Service station information</p>
      <p>
      <%= f.input :garage_name, label: 'Service station name' %></p>
      <p>Owner
        <%= f.select("user_id", @user.collect{|p| [ p.surname,  p.id] }) %>
      </p>
      <p>
        <%= f.input :city, label: "City" %></p>
      <p>
    <%= f.input :address, label: "Address" %></p>
    <p>
      <%= f.input :phone, label: "Phone number" %></p>
    <p>Service type:</br>
      <div class="serviceTypes">

        <%= f.input :garage_types, collection: Garage.garage_type.options, as: :check_boxes %>
      </div>
  </p>
  <p>Work shedule</br>
    Workdays
    <%= f.input_field :work_shedule, multiple: true %></br>
    Sunday
    <%= f.input_field :work_shedule, multiple: true %></br>
    Saturday
    <%= f.input_field :work_shedule, multiple: true %></br>
  </p>
    <p>
      <%= f.input :diler, as: :boolean, label: "Diller:"%>
    <p></p>
      <%= f.input :description, label: ">Service station information:", as: :text, label: "" %></p>
    <p>Add logo<br>
      <%= f.file_field :image_url %></p>
    <%= f.input :remote_image_url, label: "Put here image link" %>
    <small>Enter URL to an image</small>
    <p><%= f.submit 'Add service center' %></p>
  <% end %>
</div>
