<div>
  <h5>Destroys</h5>

  <%= @garage.garage_name %>, <%= @garage.id %>

  <%= form_tag admin_garage_joins_garages_break_categories_path(@garage) do %>
    <% @break_categories.each do |break_category| %>
      <%= check_box_tag 'garage_break_categories[break_category_ids][]', break_category.id, false %>
      <%= break_category.break_category_name %>, <%= break_category.id %></br>
    <% end %>
    <%= submit_tag 'Add category destroys' %>
  <% end %>
</div>
