<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" id="notice_wrapper"><%= value %></div>
<% end %>

<h5>Please select car in your list or find in brands to create your order</h5>

<div class="col-md-15">
<%= simple_form_for :profile, url: profile_index_path do |form|%>
<div class="add-new-car">
  Select car:
  <div class = "field">
    <%= form.label "Brand"%>
    <%= form.collection_select :brand_id, Brand.order(:brand_name), :id, :brand_name %>
    <%= form.label "Model"%>
    <%= form.grouped_collection_select :car_model_id, Brand.order(:brand_name).includes(:car_models),
    :car_models, :brand_name, :id, :model %>
    <%= form.label "Release year"%>
    <%= form.select(:car_year, @year) %>
    <%= form.submit "Add car" %>
  </div>
</div>
<% end %>
<div>
<%= simple_form_for :order, url: garage_orders_path do |form|%>
  <div class="select-car">
    <p>Your cars:</p>
    <%= form.select :user_car_id, @user_car.map{
      |car| ["#{car.brand_name} #{car.model} #{car.car_year} year", car.id]},
      class: "chosen-select", multiple: true %>
  </div>
</div>
<div class="col-md-15 order">
  <p>About client:</p>
  Name: <%= form.text_field :username, value: current_user.name if current_user %></br>
  Surname: <%= form.text_field :surname, value: current_user.surname if current_user %></br>
  Phone: <%= form.text_field :phone %></br>
  Email: <%= form.email_field :email, value: current_user.email if current_user %></br>

  Date/Time:<%= select_date Date.today, :prefix => :date %> -
  <%= form.time_select(:pickup_at,
    :ignore_date => false,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 00),
    :minute_interval => 60,
    :start_hour => 8,
    :start_minute => 00,
    :end_hour => 22,
    :end_minute => 00)
  %></br>

  Destroy: <%= form.text_field :destroy %></br>
  Comment: <%= form.text_field :comment %></br></br>
  <%= form.submit "Send" %>
</div>
<% end %>
</div>
