<h5>Please select car in your list or find in brands</h5>
<div class="select-car">
  <p>Your cars:</p>
  <% @user_car.each do |car| %>
    <div class="list-group">

<div class="list-group">
  <a href="#<%=car.id%>" class="list-group-item list-group-item-action">Select car|<%= car.brand_name %> <%= car.model %> <%= car.car_year %></a>
</div>
  </div>
  <% end %>

</div>
<%= simple_form_for :car, url: garage_orders_path do |form|%>
<div class="add-new-car">
  Select car:
  <div class = "field">
    <%= form.label "Brand"%>
    <%= form.collection_select :brand_id, Brand.order(:brand_name), :id, :brand_name %>
    <%= form.label "Model"%>
    <%= form.grouped_collection_select :car_model_id, Brand.order(:brand_name).includes(:car_models),
    :car_models, :brand_name, :id, :model %>
    <%= form.label "Release year"%>
    <%= form.select(:car_year, @year) %>
    <%= form.submit "Add car" %>
  </div>
</div>
<% end %>
<div>
<%= simple_form_for :order, url: garage_orders_path do |form|%>
  <p>About client:</p>
  Name: <%= form.text_field :username, value: current_user.name if current_user %></br>
  Surname: <%= form.text_field :surname, value: current_user.surname if current_user %></br>
  Phone: <%= form.text_field :phone %></br>
  Email: <%= form.email_field :email, value: current_user.email if current_user %></br>

  Date/Time:<%= select_date Date.today, :prefix => :date %> -
  <%= form.time_select :time,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 30),
    :minute_interval => 30,
    :start_hour => 8,
    :start_minute => 00,
    :end_hour => 23,
    :end_minute => 00
  %></br>

  Comment: <%= form.text_field :description %></br>
  <%= form.submit "Send" %>
<% end %>
</div>
