<div class="admin_form">
  <%= form_for :break_sub_category, url: admin_break_sub_categories_path do |form| %>

    <p>Add new destroy</p>
    <p>Name destroy category
      <%= form.select("break_category_id", BreakCategory.all.collect{|p| [ p.name, p.id ] }) %>
    </p>
    <p>Destroy name
      <%= form.text_field :break_sub_category_name %></p>
      <p>Price
        <%= form.text_field :price %></p>
    <p><%= form.submit 'Add new destroy' %></p>
  <% end %>
</div>
