<div class="admin_form center-block col-md-5">
  <%= simple_form_for :user, url: admin_user_path(@user), method: :put do |f| %>
  <p>Інформація про користувача:</p>
      <p>Ім`я: <%=  @user.name %></p>
      <p>Прізвище: <%= @user.surname %></p>
      <p>Email: <%= @user.email %></p>
      <p>Кількість входів на сторінку: <%= @user.sign_in_count %></p>
      <p>Роль користувача:
          <% if @user.roles == "client" %>
            <%= "Клієнт" %>
          <% elsif @user.roles == "director" %>
            <%= "Директор СТО" %>
          <% elsif @user.roles == "director" &&  @user.roles == "client" %>
            <%= "Директор СТО та клієнт" %>
          <% end %>

      </p>
      <p class="user_paragraph">set admin:</p>
        <% if @user.roles == "admin" %>
        <%= simple_form_for :user, url: admin_user_path(@user), :method => :PUT do |f| %>
          <%= f.input :roles, collection: User.admin_role.options, as: :check_boxes, checked: false, class: "check_box_hidden"  %>
          <!-- <%= f.check_box :admin, checked: false, class: "check_box_hidden" %> -->
          <%= f.submit 'Destroy admin', data: {confirm: 'Ви хочете цьому користувачеві видалити права адміністратора?' }%>
          <% end %>

        <% else %>
          <%= simple_form_for :user, url: admin_user_path(@user), :method => :PUT do |f| %>
          <%= f.input :roles, collection: User.admin_role.options, as: :check_boxes, checked: true, class: "check_box_hidden"  %>

        <!-- <%= f.check_box :admin, checked: true, class: "check_box_hidden" %> -->
          <%= f.submit 'Set admin', data: {confirm: 'Ви хочете цьому користувачеві надати права адміністратора?' } %>
        <% end %>
      <% end %>
    <p><%= f.submit 'Редагувати користувача' %></p>
  <% end %>
</div>
