<table id="user_table">
  <tr>
    <th onclick="sort_services_table(0)">Name</th>
    <th onclick="sort_services_table(1)">Surname</th>
    <th onclick="sort_services_table(2)">Email</th>
    <th>Sign in count</th>
    <th>Last sign in</th>
    <th>Created account</th>
    <th onclick="sort_services_table(6)">role mask</th>
    <th>Options</th>
  </tr>
<%  @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.email %></td>
    <td><%= user.sign_in_count%></td>
    <td><%= user.last_sign_in_at%></td>
    <td><%= user.created_at%></td>
    <td>
    <% if user.roles_mask == 1 %>
      <%= "Клієнт" %>
    <% elsif user.roles_mask == 2 %>
      <%= "Директор СТО" %>
    <% elsif user.roles_mask == 3 %>
      <%= "Директор СТО та клієнт" %>
    <% end %>
    </td>
    <td>

      <%= link_to "Edit Role", edit_admin_user_path(user)  %></br>
      |<%= link_to "Block",  method: :delete, data: {confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>
</div>
