<h4>Profile</h4>
<p>Name: <%= current_user.name %></p>
<p>Surname: <%= current_user.surname %></p>
<p>Email: <%= current_user.email %></p>
<div class="form">

<%= simple_form_for :drop_car, url: profile_index_path do |f|%>
  <p>
    Your cars:</br>
  <% @user_car.each do |car| %>
    <%= car.brand_name %>
    <%= car.model %>
    <%= car.car_year %>
    <a href="/profile/<%= car.id %>" data-confirm="Are you sure?" data-method="delete" >|Delete car</a></br>
  <% end %>
<% end %>
  </p>
  <%= simple_form_for :profile, url: profile_index_path do |form|%>
  <p>Add new car:</p>
  <div class = "field">
    <%= form.label "Brand"%>
    <%= form.collection_select :brand_id, Brand.order(:brand_name), :id, :brand_name %>
  </div>
  <div class = "field">
    <%= form.label "Model"%>
    <%= form.grouped_collection_select :car_model_id, Brand.order(:brand_name), :car_models, :brand_name, :id, :model %>
  </div>
    <div class = "field">
      <%= form.label "Release year"%>
      <%= form.select(:car_year, @year)  %>
    </div>
    <div class = "field">
      <%= form.submit "Add car" %>
  <% end %>
</div>
